* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-content {
  width: 1169px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}

.btn {
  top: 26px;
  left: 1187px;
  border-radius: 25px;
  border-width: 1px;
  padding: 10px 20px;
  cursor: pointer;
  /* border: none; */
}

.nav {
  display: flex;
  align-items: center;
  height: 50px;
  margin-top: 26px;
}

.nav-menu-list {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.nav-menu-list li {
  list-style: none;
  margin-left: 20px;
}

.nav-menu-list li a {
  font-family: Poppins;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0%;
  color: #5e6085;
}
.nav-menu-list li a:hover {
  color: #000958;
  font-weight: 600;
}

.sign-up-btn {
  color: #000958;
  font-family: Poppins;
  font-weight: 600;
  font-size: 12px;
  text-align: center;
}

/* header-menu */

.header-menu {
  margin-top: 15px;
}

.header-row {
  display: flex;
}

.header-left .header-card {
  width: 600px;
  margin-left: -58px;
}

.header-right .header-info {
  margin-top: 100px;
  margin-left: 108px;
}

.header-right .header-title {
  color: #000958;
  font-family: Sora;
  font-weight: 800;
  font-size: 66px;
  line-height: 76px;
  letter-spacing: 0%;
  width: 517px;
}
.header-right .sub-title {
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0%;
  width: 391px;
}

.buttom-row {
  display: flex;
  align-items: center;
  margin-top: 38px;
}

.buttom-row .btn-header-right {
  display: flex;
  align-items: center;
  margin-right: 24px;
  height: 60px;
  width: 189px;
  border-radius: 31px;
  background-color: #ff5b2e;
  color: #fff;
  font-family: Poppins;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: center;
  border: none;
}

.buttom-row .heaeder-a {
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: center;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0%;
  color: #5e6085;
}

.buttom-row .heaeder-a:hover {
  color: #000958;
}

/* About */

.About {
  margin-top: 207px;
}

.About .About-left .About-title {
  color: #000958;
  font-family: Sora;
  font-weight: 700;
  font-size: 52px;
  line-height: 62px;
  letter-spacing: 0%;
  width: 446px;
  margin-top: 15px;
}

.About .About-left .About-mini-title {
  color: #5e6085;
  font-family: Sora;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0%;
}

.About .About-left .About-sub-title {
  color: #5e6085;
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0%;
  width: 431px;
  margin-top: 24px;
}

.About-check-row {
  display: flex;
  margin-top: 54px;
  margin-left: -10px;
}

.About-ck-img {
  display: flex;
  align-items: center;
}

.About-ck-img span {
  color: #48496a;
  font-family: Poppins;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0%;
}

.about-check-img {
  margin-top: 10px;
}

.About-row {
  display: flex;
}
.About-right .About-right-img {
  height: 560px;
  width: 600px;
  margin-top: -50px;
  margin-left: 108px;
}

/* Features */

.Features {
  margin-top: 130px;
}

.Features-row {
  display: flex;
}

.Features-left {
  margin-left: -80px;
}

.Features-left .Features-left-img {
  height: 500px;
  /* width: 458px; */
}

.Features-right {
  margin-left: 127px;
  margin-top: 50px;
}

.Features-right .Features-title {
  color: #000958;
  font-family: Sora;
  font-weight: 700;
  font-size: 52px;
  line-height: 62px;
  letter-spacing: 0%;
  width: 543px;
}

.Features-right .Features-sub-title {
  color: #656689;
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0%;
  width: 511px;
  margin-top: 24px;
}

.Features-nav-row {
  display: flex;
  position: relative;
  margin-top: 24px;
}

.Features-nav-item {
  display: flex;
  align-items: center;
  margin-right: 56px;
}

.Features-nav-row::after {
  content: "";
  position: absolute;
  border: 1px solid #ffeee7;
  width: 477px;
  bottom: 0;
}

.Features-nav-item span {
  margin-left: 10px;
  font-family: Sora;
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0%;
  color: #48496a;
  white-space: nowrap;
}

.Features-sub-title-mini {
  font-family: Poppins;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #5e6085;
  width: 391px;
  margin-top: 30px;
  margin-bottom: 32px;
}

.Features-View_more {
  width: 86;
  height: 21;
  top: 490px;
  left: 720px;
  color: #ff5d31;
  text-decoration: underline;
}

.Our_Services {
  margin-top: 130px;
}

.Our_Services_box {
  background-color: #fff6ed;
}

.Our_Services_top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 68px;
}

.Our_Services_top .Our_Services_Sub-title {
  font-family: Sora;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: center;
  color: #5e6085;
}

.Our_Services_top .Our_Services_Title {
  font-family: Sora;
  font-weight: 700;
  font-size: 52px;
  line-height: 62px;
  letter-spacing: 0%;
  text-align: center;
  color: #000958;
  margin-top: 15px;
}

.Our_Services_row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 71px;
  padding-bottom: 100px;
}

.Our_Services_item {
  background-color: #ffffff;
  padding: 30px 25px;
  margin-bottom: 24px;
  border-radius: 6px;
  border: 1px solid #ffbc7a42;
}

.Our_Services_item .Our_Services-titlee {
  color: #000958;
  font-family: Sora;
  font-weight: 600;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 0%;
  margin-bottom: 18px;
}

.Our_Services_item .Our_Services_sub-titlee {
  width: 244px;
  font-family: Poppins;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #656689;
  margin-bottom: 24px;
}

.Our_Services-Buttom_block {
  display: flex;
  /* justify-content: center;  */
  align-items: center;
}

.Our_Services-Buttom_block .Our_Services-item-AUR {
  margin-left: 10px;
}

.Our_Services-Buttom_block a {
  font-family: Sora;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0%;
  color: #34396a;
}

.Our_Services_mid {
  position: relative;
  margin-left: 71px;
  margin-right: 71px;
  margin-top: 245px;
}

.Our_Services-img-conchoxu {
  position: absolute;
  width: 447px;
  top: -252px;
}

.Blue-lock {
  background-color: #9df1fb;
  width: 439px;
  height: 351px;
  top: 492px;
  left: 515px;
  border-radius: 10px;
}

.Our_Services_btn-block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 45px;
}

.Our_Services_btn-block .Our_Services-btn {
  color: #ff5b2e;
  border: 1px solid #ff5b2e;
  background-color: #fff6ed;
}
